* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: englishFont;
    src: url(fonts/SourceSerifPro-Regular.ttf)
}

@font-face {
    font-family: koreanFont;
    src: url(fonts/JejuMyeongjoOTF.otf);
}

.wrapper {
    max-width: 500px;
    margin: auto;
}

.main {
    display: block;
    width: 100%;
    margin: 0;
}

.greeting {
    height: 311px;
    background-color: #fffde5;
    text-align: center;
}

.groom {
    font-family: koreanFont;
    font-size: 24px;
    padding-top: 135px;
    padding-bottom: 20px;
}

.and {
    font-family: koreanFont;
    font-size: 18px;
}

.bride {
    font-family: koreanFont;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 48px;
}

.info {
    font-family: englishFont;
    font-size: 14px;
    padding-top: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-align: center;
}

.main-picture {
    height: 0;
    background-image: url(imgs/img.jpg);
    background-size: 100%;
    background-repeat: no-repeat no-repeat;
    padding-bottom: 139%;
}

.main-message {
    font-family: koreanFont;
    text-align: center;
    line-height: 200%;
    background-color: #ecf0e8;
}

.message-title {
    font-family: englishFont;
    font-size: 14px;
    padding-top: 46px;
    text-align: center;
}

.message {
    font-family: koreanFont;
    font-size: 14px;
    line-height: 32px;
    padding-top: 56px;
}

.name-container {
    padding-top: 56px;
    padding-bottom: 56px;
    text-align: center;
}

.names {
    font-family: koreanFont;
    font-size: 10px;
}

.name-title {
    font-family: koreanFont;
    font-size: 10px;
    margin-right: 8px;
}


.gallery-title {
    font-family: englishFont;
    font-size: 14px;
    padding-top: 104px;
    padding-bottom: 44px;
    text-align: center;
    background: linear-gradient(#ecf0e8, #ffffff);
}

.grid-photo {
    display: grid;
    grid-template-columns: 105px 105px 105px;
    grid-template-rows: 105px 105px 105px;
    grid-row-gap: 6px;
    grid-column-gap: 6px;
    padding-top: 12px;
    padding-bottom: 64px;
    justify-content: center;
}

.grid-item {
    width: 105px;
    height: 105px;
    background-size: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.show-img {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

#img2 {
    background-position: 0px 110px;
}

#img2 .show-img  .img-content{
    background-position: 0px -80px;
}

#img3 {
    background-position: 0px -30px;
}

#img3 .show-img  .img-content{
    background-position: 0px -80px;
}

#img4 {
    background-position: 0px -30px;
}

#img4 .show-img  .img-content{
    background-position: 0px -100px;
}

#img5 {
    background-position: 0px -30px;
}

#img5 .show-img  .img-content{
    background-position: 0px -80px;
}

#img6 {
    background-position: 0px 0px;
}
#img7 {
    background-position: 0px 10px;
}
#img8 {
    background-position: 0px 10px;
}
#img9 {
    background-position: 0px 110px;
}


.img-content {
    width: 375px;
    height: 375px;
    background-size: 100%;
}

.event {
    background-color: #f7f3ec;
}

.event-title {
    font-family: englishFont;
    font-size: 14px;
    padding-top: 56px;
    padding-bottom: 56px;
    text-align: center;
}

.event-content-1 {
    font-family: englishFont;
    font-size: 14px;
    padding-bottom: 32px;
    line-height: 26px;
    text-align: center;
}

hr {
    width: 64px;
    height: 1;
    opacity: 15%;
    margin: auto;
}

.event-content-2 {
    font-family: englishFont;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 56px;
    line-height: 26px;
    text-align: center;
}

.location-title {
    font-family: englishFont;
    font-size: 14px;
    padding-top: 46px;
    padding-bottom: 32px;
    text-align: center;
}

.map {
    width: 327px;
    height: 295px;
    background-image: url(imgs/map.png);
    background-position: -80px -100px;
    margin: auto;
}

.map-button {
    display: block;
    margin: auto;
    font-family: koreanFont;
    font-size: 14px;
    color: #ffffff;
    width: 327px;
    height: 32px;
    border: 0;
    background-color: #272a24;
    cursor: pointer;
}

.map-content {
    font-family: englishFont;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 46px;
    text-align: center;
    line-height: 26px;
}

.rsvp {
    background-color: #f5f2f1;
    padding-bottom: 46px;
}

.rsvp-title {
    font-family: englishFont;
    font-size: 14px;
    padding-top: 46px;
    padding-bottom: 46px;
    text-align: center;
}

.rsvp-content {
    font-family: koreanFont;
    font-size: 14px;
    padding-bottom: 46px;
    text-align: center;
    line-height: 32px;
}

.rsvp-button {
    display: block;
    margin: auto;
    font-family: englishFont;
    font-size: 14px;
    color: #ffffff;
    width: 114px;
    height: 32px;
    border: 0;
    background-color: #272a24;
    cursor: pointer;
}

.contact-title {
    font-family: englishFont;
    font-size: 14px;
    padding-top: 104px;
    padding-bottom: 56px;
    text-align: center;
    background: linear-gradient(#f5f2f1, #ffffff);
}

.groom-contact {
    font-family: koreanFont;
    font-size: 14px;
    text-align: center;
}

.groom-contact span , .bride-contact span {
    padding-left: 12px;
    text-decoration: none;
}

.bride-contact {
    font-family: koreanFont;
    font-size: 14px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 98px;
}








